.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh; /* Set height of container to 100% of viewport height */
}

.video-wrapper {
  width: 70%; /* Set width of video wrapper to 70% of the window width */
}

.video {
  width: 100%; /* Make the video fill its container */
  height: auto; /* Maintain aspect ratio */
}
.chat-box{
  border: 1px solid;
  width: 30%;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
.chat-item-receiver{
  align-self: end;
  background-color: #f6f1e5;
}

.chat-item{
  border: 1px solid rgba(184, 187, 181, 0.662);
  padding: 0px 10px;
}

.chat-item-sender{
  align-self: flex-start;
  background-color: #e0fab9;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
